export default {
  host: 'http://localhost:8080',
  port: 3000,
  jwt: {
    secret: "XXXXHAHISISAHXXXXXXXXX",
    expiration: "1h"
  },
  email: {
    service: 'gmail', //'SendinBlue'
    user: 'gelplusfrance@gmail.com',
    password: 'XXXXXXXXXXX',
    fromUser: 'gelplusfrance@gmail.com',
  },
  emailMassive: {
    service: 'SendinBlue', //'gmail'
    user: 'gelplusfrance@gmail.com',
    password: 'XXXXXXXXXXX',
    fromUser: 'gelplusfrance@gmail.com',
  },
  emailTo: 'ivancerni@gmail.com',
  hashSalt: 'XXXXXXXXX'
};