export default {
  host: 'http://localhost:8080',
  port: 3000,
  jwt: {
    secret: "XXXXHAHISISAHXXXXXXXXX",
    expiration: "2d"
  },
  emailProviders: {
    gmail: {
      service: 'gmail',
      user: 'gelplusfrance@gmail.com',
      password: 'XXXXXXXXXXX',
      fromUser: 'gelplusfrance@gmail.com',
    },
    sendinblue: {
      service: 'SendinBlue',
      user: 'pascal.jehan@vetigraph.com',
      password: 'XXXXXXXXXXXXXXXXXXXXXX',
      fromUser: 'contact@gelplus.fr',
    },
    sendgrid: {
      service: 'SendGrid',
      user: 'apikey',
      password: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
      fromUser: 'contact@gelplus.fr',
    },
  },
  emailTo: 'ivancerni@gmail.com',
  hashSalt: 'XXXXXXXXX'
};