body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    width: 400px;
    max-width: calc(100% - 40px);
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    margin-bottom: 20px;
}

.sidenav .form-container {
    padding: 20px;
    background: #eef7fc;
    border-radius: 10px;
    color: #205685;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 600px) {
    .sidenav {
        padding-bottom: calc(100vh - 70px);
    }

    .sidenav .form-container h1 {
        margin-top: 50px;
    }
}

.sidenav .result-container {
    display: none;
}

.canvas-container {
    width: 400px;
    max-width: calc(100% - 40px);
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    background: #eef7fc;
    overflow-y: auto;
    margin-bottom: 20px;
}

.btn-container {
    position: relative;
    top: 40px;
    right: 30px;
    float: right;
    height: 0;
    z-index: 2;
}

.sachet-id {
    display: none;
    vertical-align: top;
    margin-right: 10px;
}

.sachet-id.show {
    display: inline-block;
}

#canvas {
    width: 400px;
    border: 1px solid #000000;
    margin: 0;
}

#canvas-front {
    width: 400px;
    border: 1px solid #000000;
    margin: 0;
}

.sidenav label {
    margin-bottom: 0;
}

#main {
    padding: 0;
    position: fixed;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.custom-file-label {
    white-space: nowrap;
    overflow: hidden;
}

.custom-file-input.custom-file-label::after,
.custom-file-input:lang(en)~.custom-file-label::after,
.custom-file-input:lang(fr)~.custom-file-label::after {
    content: 'Image'
}